<p-toolbar>
  <div class="ui-toolbar-group-left">
    <a [routerLink] ="['/home']"><img src="assets/img/LogoDC2.png"></a>
      
  </div>
  <div class="ui-toolbar-group-left">
      <button pButton type="button" label="home"  [routerLink] ="['/home']" [routerLinkActive] ="['ui-button-success']" icon="pi pi-home"></button>
      <button pButton type="button" label="MovieAPI" [routerLink] ="['/MovieAPI']" [routerLinkActive] ="['ui-button-success']" icon="pi pi-video"></button>
      <button pButton type="button" label="OwnAPI" [routerLink] ="['/OwnAPI']" [routerLinkActive] ="['ui-button-success']" icon="pi pi-star-o"></button>
      <button pButton type="button" label="Settings" [routerLink] ="['/Settings']" [routerLinkActive] ="['ui-button-success']" icon="pi pi-cog"></button>
    </div>
  
  <div class="ui-toolbar-group-right">
      <button *ngIf="!authservice.isLoggedIn" pButton type="button" label="Login" [routerLink] ="['/Login']" [routerLinkActive] ="['ui-button-success']" icon="pi pi-sign-in"></button>
      <button *ngIf="authservice.isLoggedIn" pButton type="button" label="Logout" [routerLink] ="['/Login']" [routerLinkActive] ="['ui-button-success']" icon="pi pi-sign-out"></button>
  </div>
</p-toolbar>