/* You can add global styles to this file, and also import other style files */
html{
    background-color:lightblue;
}
h1{
    font-weight: bold;
    font-family: Rubik;
}
p{
    font-family: Karla;
}