<router-outlet></router-outlet>
<body>
  <section>
      <h1>Zoek een film/serie naar keuzen!</h1>
      <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)" (onSelect)="Choice($event)"></p-autoComplete>
      <p *ngIf="error">{{error}}</p>
      <!-- <div *ngIf="apiService.film">
          <div *ngIf="apiService.film.Search">
              <h2>{{apiService.film.Search[0].Title}}</h2>
              <p *ngIf="apiService.film.Search[0].Type == 'movie'">De film is uitgebracht in het jaar {{apiService.film.Search[0].Year}}.</p>
              <p *ngIf="apiService.film.Search[0].Type == 'series'">De serie is uitgebracht in het jaar {{apiService.film.Search[0].Year}}.</p>
              <img *ngIf="apiService.film.Search[0].Poster" [src]="apiService.film.Search[0].Poster">
          </div>
      </div> -->

      <div *ngIf="apiService.gekozenFilm">
          <h2>{{apiService.gekozenFilm.Title}}</h2>
          <img *ngIf="apiService.gekozenFilm.Poster" [src]="apiService.gekozenFilm.Poster"><br>
          <p class="description">{{apiService.gekozenFilm.Plot}}</p>
          <p>
            <strong>Type: </strong>{{apiService.gekozenFilm.Type}}<br>
            <strong>Released: </strong>{{apiService.gekozenFilm.Released}}<br>
            <strong>Released on DVD: </strong>{{apiService.gekozenFilm.DVD}}<br>
            <strong>Duration: </strong>{{apiService.gekozenFilm.Runtime}}<br>
            <strong>Genre: </strong>{{apiService.gekozenFilm.Genre}}<br>
            <strong>Production: </strong>{{apiService.gekozenFilm.Production}}<br>
            <strong>Director: </strong>{{apiService.gekozenFilm.Director}}<br>
            <strong>Actors: </strong>{{apiService.gekozenFilm.Actors}}<br>
            <strong>Spoken Language: </strong>{{apiService.gekozenFilm.Language}}<br>
            <strong>Country: </strong>{{apiService.gekozenFilm.Country}}<br>
            <strong>Awards: </strong>{{apiService.gekozenFilm.Awards}}<br>
            <strong>BoxOffice: </strong>{{apiService.gekozenFilm.BoxOffice}}
          </p>
          More info: <a href="{{apiService.gekozenFilm.Website}}">{{apiService.gekozenFilm.Website}}</a>
          <h3>~~~~ Ratings ~~~~</h3>
          <p>
            <strong *ngIf="apiService.gekozenFilm.Ratings[0]">{{apiService.gekozenFilm.Ratings[0].Source}}</strong> - {{rating1}}/5<br>
            <p-rating [ngModel]="rating1 | number:'1.0-0'" [readonly]="true" [cancel]="false"></p-rating><br>
            <strong *ngIf="apiService.gekozenFilm.Ratings[1]">{{apiService.gekozenFilm.Ratings[1].Source}}</strong> - {{rating2}}/5<br>
            <p-rating [ngModel]="rating2 | number:'1.0-0'" [readonly]="true" [cancel]="false"></p-rating><br>
            <strong *ngIf="apiService.gekozenFilm.Ratings[2]">{{apiService.gekozenFilm.Ratings[2].Source}}</strong> - {{rating3}}/5<br>
            <p-rating [ngModel]="rating3 | number:'1.0-0'" [readonly]="true" [cancel]="false"></p-rating><br>
            <strong>imdbRating</strong> - {{apiService.gekozenFilm.imdbRating}}/10<br>
            <p-rating stars="10" [ngModel]="apiService.gekozenFilm.imdbRating | number:'1.0-0'" [readonly]="true" [cancel]="false"></p-rating>
            <strong>Number of Votes: </strong>{{apiService.gekozenFilm.imdbVotes}}<br>
          </p>
        </div>


  </section>
  <section>
    
  </section>
  <section>
      <h1>Zoek een random film/serie</h1>
      <button (click)="RandomMovie()">Random movie/episode/serie</button>
      <div *ngIf="apiService.randomFilm">
        <h2>{{apiService.randomFilm.Title}}</h2>
        <img *ngIf="apiService.randomFilm.Poster" [src]="apiService.randomFilm.Poster"><br>
        <p class="description">{{apiService.randomFilm.Plot}}</p>
        <p>
          <strong>Type: </strong>{{apiService.randomFilm.Type}}<br>
          <strong>Released: </strong>{{apiService.randomFilm.Released}}<br>
          <strong>Released on DVD: </strong>{{apiService.randomFilm.DVD}}<br>
          <strong>Duration: </strong>{{apiService.randomFilm.Runtime}}<br>
          <strong>Genre: </strong>{{apiService.randomFilm.Genre}}<br>
          <strong>Production: </strong>{{apiService.randomFilm.Production}}<br>
          <strong>Director: </strong>{{apiService.randomFilm.Director}}<br>
          <strong>Actors: </strong>{{apiService.randomFilm.Actors}}<br>
          <strong>Spoken Language: </strong>{{apiService.randomFilm.Language}}<br>
          <strong>Country: </strong>{{apiService.randomFilm.Country}}<br>
          <strong>Awards: </strong>{{apiService.randomFilm.Awards}}<br>
          <strong>BoxOffice: </strong>{{apiService.randomFilm.BoxOffice}}
        </p>
        More info: <a href="{{apiService.randomFilm.Website}}">{{apiService.randomFilm.Website}}</a>
      </div>
  </section>

</body>