h1{
    margin-top: 10px;
}
body{
    display: grid;
    grid-template-columns: 49% 2% 49%;
    text-align: center;
}
h2{
    text-align: center;
    color: blue;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.description{
    text-align: center;
    font-weight: bolder;
}
button{
    margin-right: 10px;
    border-radius: 10px;
    height: 32px;
    width: 200px;
    background-color:#007CD2;
    color: white;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
    transform: translateY(4px);
   }